{
    {% if docker__default_daemon_json | d() %}
        {{ docker__default_daemon_json | indent(2, true) }}
        {%- if docker__registry_mirrors_json | d()%},{% endif %}
    {% endif %}
    {% if docker__registry_mirrors_json | d() %}
        {{ docker__registry_mirrors_json | indent(2, true) }}
    {% endif %}
}
